.container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.inner{
    display: flex;
}

.item{
    min-height: 200px;
    min-width: 400px;
    padding: 14px;
    background-color: red;
    margin: 20px;
}

.item div{
    pointer-events: none;
}

.carrossel{
    cursor: grab;
    overflow: hidden;
}

.seta{
    border-top: 3px solid green;
    width:'100px';
    height: '20px';
    align-items: center;
}