.container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.container2{
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.inner{
    display: flex;
}

.item{
    min-height: 200px;
    min-width: 400px;
    padding: 14px;
    background-color: blue;
    margin: 20px 0;
}

.item div{
    pointer-events: none;
}

.carrossel{
    cursor: grab;
    overflow: hidden;
}

.valores{
    min-height: 80px;
    min-width: 300px;
    margin: 10px;
    color: white;
}

.certificados{
    margin: 10px;
    min-width: 500px;
    height: 350px;
}